body {
  background-color: black;
  color: white;
  text-align: center;
  background-image: url('background.jpg');
  background-size: cover;
}

.board-container {
  margin: auto;
}
table {
  background-color: black;
}
.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.rotateDown {
  transform: rotate(90deg);
}
.rotateRight {
  transform: rotate(0deg);
}
.rotateUp {
  transform: rotate(-90deg);
}
.rotateLeft {
  transform: rotate(0deg) scaleX(-1);
}
