body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}

.superFoodActive {
  src: 'icons/whiteGhost.png';
}

.rotateDown {
  transform: rotate(90deg);
}
.rotateRight {
  transform: rotate(0deg);
}
.rotateUp {
  transform: rotate(-90deg);
}
.rotateLeft {
  transform: rotate(0deg) scaleX(-1);
}
